
{% extends 'index.html' %}

{% load static %}

{% block title %}
    <h1 class="text-center header-title">Gyms View</h1>
{% endblock %}

{% block contenidoQueCambia %}

<div class="form__container d-flex justify-content-evenly">
    <div class="d-flex flex-column align-items-center justify-content-center m-1 w-50">
        <h2 class="text-center">Here are all the Gyms.</h2>
        <table class="table table-blur">
            <thead>
                <tr>
                    <th class="text-center">Gym Name</th>
                    <th class="text-center">Detail</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for gym in object_list %}
                    <tr>
                        <td class="m-2 text-center">{{ gym.name }}</td>
                        <td class="m-2 text-center"><a class="btn btn-outline-info" href="{% url 'PokemonDetail' gym.id %}">✅</a></td>
                        <td class="m-2 text-center"><a class="btn btn-outline-success" href="{% url 'PokemonUpdate' gym.id %}">✏️</a></td>
                        <td class="m-2 text-center"><a class="btn btn-outline-danger" href="{% url 'PokemonDelete' gym.id %}">❌</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-info" href="{% url 'GymCreate' %}">Open a New Gym.</a>
    </div>
</div>

{% endblock %}
