
{% extends 'index.html' %}
{% load static %}

{% block title %}
    <h1 class="text-center header-title">Gym Detail!</h1>
{% endblock %}

{% block contenidoQueCambia %}

<section class="d-flex flex-column align-items-center">
    {% if object %}

    <table class="table table-blur w-50">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Gym Name</th>
                <th class="text-center">Type</th>
                <th class="text-center">Gym Leader</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
            <tr>
                <td class="m-2 text-center">{{ object.id }} </td>
                <td class="text-center">{{object.name}}</td>
                <td class="text-center">{{object.type}}</td>
                <td class="m-2 text-center">{{ object.master }}</td>
            </tr>
    </table>

    {% endif %}
    <a class="btn btn-primary" href="{% url 'GymList' %}">Go Back To List!</a>
</section>

{% endblock %}