
{% extends 'index.html' %}

{% load static %}

{% block title %}
    <h1 class="text-center header-title">Create a New Pokemon Trainer</h1>
{% endblock %}

{% block contenidoQueCambia %}

<section class="addItem--form m-5 form__container">
    <h3>New Trainer</h3>

    {% if form.errors %}
    
    <p>Por favor, revisar los datos ingresados.</p>
    
    {% endif %}

    <form action="" method="POST" class="table-blur p-5 form--style">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="d-grid gap-2 col-12 mx-auto mt-4">
            <button class="btn btn-block btn-success" type="submit">Save!</button>
        </div>
    </form>
</section>

{% endblock %}
