

{% extends 'index.html' %}
{% load static %}

{% block title %}
    <!-- <h1 class="text-center header-title">Welcome to Pokeworld! {{ user.name }}</h1> -->
    <h1 class="text-center header-title">Login</h1>
{% endblock %}

{% block contenidoQueCambia %}
<section class="addItem--form m-5 form__container">
    
    <form action="" method="POST" class="table-blur p-5 form--style">
        <h2 class="title--welcome text-center mb-5">Login</h2>
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
            <button class="btn btn-info w-100 mt-5" type="submit">Login</button>
    </form>

</section>

{% endblock %}