
{% extends 'index.html' %}
{% load static %}

{% block title %}
    <h1 class="text-center header-title">Search Result!</h1>
{% endblock %}

{% block contenidoQueCambia %}

<section class="d-flex flex-column align-items-center">
    <h4 class="m-3">El pokemon buscado es: {{name}}</h4>

    {% if pokemon %}

    <table class="table table-blur w-50">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Pokemon Name</th>
                <th class="text-center">Type</th>
                <th class="text-center">Attack Power</th>
                <th class="text-center">Defense</th>
                <th class="text-center">Health</th>
                <th class="text-center">Catched At</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
            {% for pokemon in pokemon %}
                <tr>
                    <td class="m-2 text-center">{{ pokemon.id }} </td>
                    <td class="text-center">{{pokemon.name}}</td>
                    <td class="text-center">{{pokemon.type}}</td>
                    <td class="text-center">{{pokemon.attack}}</td>
                    <td class="text-center">{{pokemon.defense}}</td>
                    <td class="text-center">{{pokemon.health}}</td>
                    <td class="m-2 text-center">{{ pokemon.catched_at }}</td>
                </tr>
            {% endfor %}
    </table>

    {% endif %}
</section>

{% endblock %}

