<!DOCTYPE html>

<html lang="es">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <title>Matias Christello || PokeApp</title>
    </head>
    <body>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand ms-5" href="{% url 'Home' %}">PokeApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center m-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'PokemonList' %}">Pokemons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'TrainerList' %}">Trainers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'GymList' %}">Gyms</a>
                        </li>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'Logout' %}">Logout</a>
                            </li>
                            {% if request.user.avatar_set.exists %}
                                <li class="nav-item d-flex flex-direccion-row align-items-center">
                                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="{% url 'EditProfile' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img  src="{{ request.user.avatar_set.first.imagen.url }}" alt="Avatar de {{ request.user.username }}" class="rounded-circle" width="50"></a>
                                    <a class="nav-link btn btn-outline-danger" href="{% url 'AddAvatar' %}">Cambiar Avatar</a>
                                </li>
                            {% else %}
                                <li class="nav-item d-flex flex-direccion-row align-items-center">
                                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="{% url 'EditProfile' %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'no-avatar.png' %}" alt="user" class="rounded-circle" width="31"></a>
                                    <a class="nav-link btn btn-danger" href="{% url 'AddAvatar' %}">Cambiar Avatar</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'Login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'Register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex me-5" role="search" action="/result" method="GET">
                        <input class="form-control me-2" type="search" placeholder="Search For Pokemons" aria-label="Search" name="pokemon" id="pokemon">
                        <button id="search-btn" class="btn btn-success" type="submit">PokeSearch</button>
                    </form>
                </div>
            </div>
        </nav>
    
        <!-- Main Content -->
        <main id="main" class="main main-background">

            <!-- Header -->
            <header class="header">
                <div>
                    <div class="header__content">
                        {% block title %}
    
                        {% endblock %}
    
                        <!-- <div class="d-flex flex-direccion-row justify-content-evenly header-arrow">
                            <a class="underline_effect" href="{% url 'PokemonList' %}">Go to Pokemon</a>
                            <a class="underline_effect" href="{% url 'TrainerList' %}">Go To Trainers</a>
                            <a class="underline_effect" href="{% url 'GymList' %}">Go to Gyms</a>
                        </div> -->
                    </div>

                </div>
            </header>

            {% block contenidoQueCambia %}

                <hr>
                <hr>

                {% block form %}

                {% endblock %}

            {% endblock %}

        </main>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous">
        </script>
    </body>
</html>